.container {
    margin-top: 65px;
    margin-bottom: 60px;
}

.heading {
    font-size: 30px;
    padding-top: 20px;
    margin-left: 10px;

}

.subHeading {
    color: black;
    font-weight: bold;
}

.container-box {
    background-color: white;
}