.container-box {
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: auto 1350px auto;
}

.button-position {
    grid-column-start: 2;
    grid-column-end: 3;
    float: left;
    margin: auto;
}

.button-cont {
    background-color: #ffffff;
    height: 180px;
    width: 430px;
    float: left;
    margin: 100px -100px 25px 20px;
    border-radius: 3px;
    cursor: pointer;
}

.welcome-text {
    text-align: center;
    color: #020202;
    font-family: "Segoe UI";
    font-size: 30px;
    font-weight: bold;
    padding-top: 26px;
    margin-bottom: 30px;
    margin-top: 60px;
}