<div>
    <div class="welcome">
        <div class="welcome-text">
            <p>Bank Property Evaluation!</p>
        </div>
    </div>
    <ng-container>
        <div class="container-box">
            <div class="button-position">
                <div class="button-cont">
                    <button type="button" class="btn btn-outline-primary btn-lg" (click)="navigate('new-property')">New
                        Property Valuation</button>
                </div>
                <div class="button-cont">
                    <button type="button" class="btn btn-outline-primary btn-lg"
                        (click)="navigate('valuation-request')">PVS
                        Valuation Requests</button>
                </div>
            </div>
        </div>
    </ng-container>
</div>